<header class="header">
  <div class="container header-container">
    <div class="logo-nav">
      <a class="logo link" href="./index.html">
        <svg class="header-logo" width="24" height="24">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
        <svg class="header-logo-text" width="77" height="13">
          <use href="./img/sprite.svg#icon-Bookshelf-logo"></use>
        </svg>
      </a>
      <nav class="navigation">
        <ul class="nav-list list">
          <li class="nav-list-item">
            <a class="link nav-link current" href="./index.html">Home</a>
          </li>
          <li class="nav-list-item">
            <a class="link nav-link" href="/src/shoplist.html"
              >Shopping list
              <svg class="shopping-cart" width="20" height="20">
                <use href="./img/sprite.svg#icon-cart"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="buttons">
      <label id="switch" class="switch">
        <input type="checkbox" id="slider" />
        <span class="slider round"></span>
      </label>

      <button type="button" class="burger-open" data-menu-open>
        <svg class="burger" width="28" height="28">
          <use href="./img/sprite.svg#icon-burger"></use>
        </svg>
      </button>

      <button type="button" class="sign-btn">
        Sign up
        <svg class="arrow" width="20" height="20">
          <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<!-- MOB MENU -->
<div class="mob-menu is hidden" data-menu>
  <header class="header">
    <div class="container header-container">
      <div class="logo-nav">
        <a class="logo link" href="./index.html">
          <svg class="header-logo" width="24" height="24">
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg>
          <svg class="header-logo-text" width="77" height="13">
            <use href="./img/sprite.svg#icon-Bookshelf-logo"></use>
          </svg>
        </a>
      </div>

      <div class="buttons">
        <label id="switch" class="switch">
          <input type="checkbox" id="mobile-slider" />
          <span class="slider round"></span>
        </label>

        <button type="button" class="mob-menu-close" data-menu-close>
          <svg class="icon-close" width="28" height="28">
            <use href="./img/sprite.svg#icon-x-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </header>
  <ul class="mob-nav-list list">
    <li class="mob-nav-list-item">
      <a class="link mob-nav-link current header-mob-link" href="./index.html"
        >Home</a
      >
    </li>
    <li class="mob-nav-list-item">
      <a class="link mob-nav-link header-mob-link" href="./shoplist.html"
        >Shopping list
        <svg class="shopping-cart" width="20" height="20">
          <use href="./img/sprite.svg#icon-cart"></use>
        </svg>
      </a>
    </li>
  </ul>

  <div class="mob-img">
    <picture>
      <source
        srcset="./img/mob-menu-pic.png 1x, ./img/mob-menu-pic@2x-min.png 2x"
        media="(max-width: 767px)"
      />
      <source
        srcset="./img/mob-menu-pic.webp 1x, ./img/mob-menu-pic@2x.webp 2x"
        media="(max-width: 767px)"
        type="image/webp"
      />
      <img class="img-books" src="./img/mob-menu-pic.png" alt="books" />
    </picture>
  </div>
  <!--  -->
</div>
