<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>

<div class="support-container">
  <div class="container-logo">
    <h3 class="support-title">Support Ukraine</h3>
    <svg class="emblem" width="20" height="32">
      <use href="/img/sprite.svg#icon-vector"></use>
    </svg>
  </div>
  <div class="swiper support-slider">
    <div class="swiper-wrapper js-support-list" style="width: 159px"></div>
  </div>
  <button type="button" class="btn-swap btn-swap-next">
    <svg class="icon-arrow" width="22" height="22">
      <use href="/img/sprite.svg#icon-arrow"></use>
    </svg>
  </button>
  <button
    type="button"
    class="btn-swap btn-swap-prev"
    style="transform: rotate(180deg)"
  >
    <svg class="icon-arrow" width="22" height="22">
      <use href="/img/sprite.svg#icon-arrow"></use>
    </svg>
  </button>
</div>
