.wrapper {
  display: flex;
  background: #fff;
  width: 1440px;
  margin: 0 auto;
  padding-top: 40px;
}

.sidebar {
  width: 370px;
  /* background-color: #e0ebfe; */
  padding: 0 20px 0 24px;
}

.listOfBookFromCategory {
  width: 1060px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.list-top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}

.list-card {
  /* display: flex; */
  width: 180px;
  height: 306px;
  gap: 32px;
}

.list-img {
  width: 180px;
  height: 256px;
}

.autor {
  padding-bottom: 32px;
}
