.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 40px;
  list-style: none;
}
.title-all-cat {
  color: var(--violet-tx-cl);
  font-weight: 700;
  letter-spacing: -0.36px;
  text-transform: uppercase;
}

.sidebar {
  width: 335px;
}
.list-Elem {
  color: var(--violet-tx-cl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.36px;
  text-transform: uppercase;
}
.listOfBookFromCategory {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.list-top {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px 20px 80px 20px;
}

.js-list-img {
  width: 335px;
  height: 485px;
  border-radius: 8px;
}

.js-autor {
  color: var(--light-tx-cl);
  font-size: 12px;
  font-style: italic;
  line-height: 1.17;
  letter-spacing: -0.48px;
  margin-top: 4px;
}

.js-list {
  width: 307px;
  height: 228px;
  overflow-y: scroll;
}
.list-elem {
  color: rgba(17, 17, 17, 0.6);
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.32px;
  padding-bottom: 16px;
  padding-top: 16px;
}
.list-elem:first-child {
  padding-top: 0px;
}
.list-elem:last-child {
  padding-bottom: 0px;
}
.top-list {
  padding: 40px 0px 80px 0px;
  margin-left: auto;
  margin-right: auto;
}
.top-list-header {
  color: var(--main-tx-cl);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: -1.28px;
}
.top-list-header-span {
  color: var(--violet-tx-cl);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: -1.28px;
}

.js-markup-block {
  margin-top: 40px;
}
.js-markup-category {
  color: var(--light-tx-cl);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.js-markup-list {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  /* Олександр */
  flex-wrap: wrap;
  /* Олександр */
}
/* .js-list-card { */
/* width: 335px; */
/* } */
/* .js-list-text {

} */
.js-list-title {
  color: var(--main-tx-cl);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-top: 14px;
}
.js-button-more {
  display: flex;
  flex-direction: row-reverse;
}
.js-see-more {
  margin-top: 32px;
  color: var(--main-tx-cl);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  display: flex;
  padding: 14px 28px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 40px;
  border: 2px solid var(--violet-tx-cl);
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 40px 32px 100px 32px;
  }

  .js-list {
    width: 309px;
    height: 472px;
  }

  .sidebar {
    width: 356px;
  }
  .list-elem {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
  .top-list-header {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }
  .top-list-header-span {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }
  .top-list {
    padding: 100px 0px 100px 0px;
  }
  .listOfBookFromCategory {
    /* width: 704px; */
    gap: 24px;
  }
  .js-markup-category {
    line-height: 1.71;
  }
  .js-markup-list {
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
  }
  .js-list-card {
    flex-basis: calc((100% - 2 * 25px) / 3);
  }
  .js-list-img {
    width: 218px;
    height: 316px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .js-list-card {
    display: none;
  }
  .js-list-card:nth-child(-n + 3) {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    padding: 40px 0px 72px 0px;
    flex-direction: inherit;
  }
  .js-list {
    display: flex;
    flex-direction: column;
    width: 328px;
  }
  .listOfBookFromCategory {
    margin-top: 40px;
    /* width: 996px; */
    /* gap: 40px; */
  }
  .top-list {
    padding: 0px 24px 72px 40px;
  }

  .js-list-card {
    flex-basis: calc((100% - 4 * 24px) / 5);
  }
  .js-list-card {
    display: inline-block;
    margin-top: 40px;
  }
  .js-list-img {
    width: 180px;
    height: 256px;
  }

  .js-markup-list {
    gap: 24px;
    flex-wrap: wrap;
  }
  .js-markup-category {
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  .js-list-card {
    display: none;
  }
  .js-list-card:first-child {
    display: block;
  }
}
