.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
  z-index: 20;
  transition: 0.3s all;
}

.modal-field {
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;

  border: 2px solid var(--main-tx-cl);
  border-radius: 18px;
  background-color: var(--white-tx-cl);
  width: 335px;
  margin-bottom: 0;
  padding: 40px 24px;
  position: fixed;
  max-height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  overflow: auto;
}

.modal-field.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0;
}

@media only screen and (min-width: 768px) {
  .modal-field {
    width: 579px;
    padding: 40px 40px;
  }
}

.modal-close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@media only screen and (min-width: 768px) {
  .modal-close {
    width: 28px;
    height: 28px;

    top: 24px;
    right: 24px;
  }
}

.modal-icon {
  width: 12px;
  height: 12px;

  stroke: var(--black-bg-cl);
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) {
  .modal-icon {
    width: 14px;
    height: 14px;
  }
}
.modal-icon:active,
.modal-icon:hover,
.modal-icon:focus {
  stroke: var(--violet-bg-cl);
}

.modal-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
}

@media only screen and (min-width: 768px) {
  .modal-content {
    flex-direction: row;

    gap: 24px;
    margin-bottom: 40px;
  }
}

.modal-picture {
  border: none;
  padding: 0;
  border-radius: 8px;
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .modal-picture {
    margin-bottom: 0;
  }
}

.modal-picture-content {
  border-radius: 8px;
  max-width: 285px;
  max-height: 408px;
}

@media only screen and (min-width: 768px) {
  .modal-picture-content {
    max-width: 192px;
    max-height: 281px;
  }
}

.modal-title {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 600;

  line-height: 1.125;
  letter-spacing: -0.06em;
}

@media only screen and (min-width: 768px) {
  .modal-title {
    font-size: 24px;

    line-height: 1.16;
    letter-spacing: -0.04em;
  }
}

.modal-author {
  font-style: italic;
  font-size: 12px;
  color: var(--light-tx-cl);
  font-weight: 100;
  margin-bottom: 14px;
  margin-top: 0;

  letter-spacing: -0.08em;
  line-height: 1.16;
}

@media only screen and (min-width: 768px) {
  .modal-author {
    font-size: 14px;
    margin-bottom: 20px;

    letter-spacing: -0.06857em;
    line-height: 1.28;
  }
}

.modal-description {
  font-size: 14px;
  width: 287px;
  margin-bottom: 14px;

  line-height: 1.28;
  letter-spacing: -0.06857;
}

@media only screen and (min-width: 768px) {
  .modal-description {
    width: 279px;
    margin-bottom: 20px;
  }
}

.modal-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.modal-amazon {
  width: 62px;
  height: 19px;
  background-image: url('../img/modal/_amazon.png');
  background-repeat: no-repeat;
  background-size: 62px 19px;
  background-position: center;
  filter: grayscale(100%);
}
.modal-amazon:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .modal-amazon {
    background-image: url('../img/modal/_amazon-retina.png');
  }
}
.modal-apple {
  width: 33px;
  height: 32px;
  background-image: url('../img/modal/_book.png');
  background-size: 33px 32px;
  filter: grayscale(100%);
}

.modal-apple:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .modal-apple {
    background-image: url('../img/modal/_book-retina.png');
  }
}
.modal-btn {
  height: 46px;
  margin: auto;
  border: 2px solid var(--violet-bg-cl);
  border-radius: 40px;
  font-size: 14px;

  letter-spacing: -0.07em;
  line-height: 1.2;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 28px;
  margin-bottom: 0;
  background-color: var(--white-bg-cl);
  transition: color var(--anim-fast), background-color var(--anim-fast);
}
.modal-btn.remove {
  padding: 14px 23px;
}
@media only screen and (min-width: 768px) {
  .modal-btn {
    height: 64px;
    width: 100%;
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    letter-spacing: -0.055em;
  }
}

.modal-btn:active,
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--violet-bg-cl);
  color: var(--white-tx-cl);
}

.modal-add {
  font-size: 10px;
  color: rgba(17, 17, 17, 0.5);
  font-weight: 400;
  margin-top: 8px;
  width: 242px;
  margin: auto;
  padding-top: 8px;
  line-height: 1.2;
  /* letter-spacing: -0.096em; */
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .modal-add {
    font-size: 12px;
    width: 324px;
    letter-spacing: -0.08em;
    line-height: 1.16;
  }
}
