
@import url('./reset.css');

@import url('./header.css');
@import url('./allcategories.css');
@import url('./support.css');
@import url('./allcategories.css');
@import url('./anchor.css');

:root {
  /* Fonts */
  --primary-font: DM Sans, sans-serif;
  /* Text colors */
  --main-tx-cl: #111111;
  --light-tx-cl: #B4AFAF;
  --violet-tx-cl: #4F2EE8;
  --white-tx-cl: #ffffff;

  /* Bg colors */
  --white-bg-cl: #FFFFFF;
  --light-bg-cl: #F6F6F6;
  --violet-bg-cl: #4F2EE8;
  --orange-bg-cl: #EAC645;
  --black-bg-cl: #111111;
  --dark-bg-cl: #202024;
}

body {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.33;
  
}
.container {
  width: 100%;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 24px;
    padding-right: 24px;
  }
}