
@import url('./reset.css');

@import url('./header.css');


:root {
  /* Fonts */
  --primary-font: DM Sans, sans-serif;
  /* Text colors */
  --main-tx-cl: #111111;
  --light-tx-cl: #B4AFAF;
  --violet-tx-cl: #4F2EE8;
  --white-tx-cl: #ffffff;

  /* Bg colors */
  --white-bg-cl: #FFFFFF;
  --light-bg-cl: #F6F6F6;
  --violet-bg-cl: #4F2EE8;
  --orange-bg-cl: #EAC645;
  --black-bg-cl: #111111;
  --dark-bg-cl: #202024;
}

p{
  color:var(--violet-bg-cl);
  font-style:var(--primary-font);
  
}
  
