body.theme-dark header {
  background-color: var(--main-tx-cl);
}
body.theme-dark header {
  border-color: var(--white-bg-cl);
}
body.theme-dark .header-logo-text {
  fill: var(--white-bg-cl);
}
body.theme-dark .nav-link {
  color: var(--white-bg-cl);
}
body.theme-dark .nav-link {
  fill: var(--white-bg-cl);
}
body.theme-dark .burger {
  stroke: var(--white-bg-cl);
}
body.theme-dark .icon-close {
  stroke: var(--white-bg-cl);
}

body.theme-dark .header-mob-link {
  color: var(--white-bg-cl);
}
body.theme-dark .shopping-cart {
  fill: var(--white-bg-cl);
}
body.theme-dark .wrapper {
  background-color: var(--dark-bg-cl);
}
body.theme-dark .list-elem {
  color: rgba(255, 255, 255, 0.6);
}
body.theme-dark .top-list-header {
  color: var(--white-bg-cl);
}
body.theme-dark .title-all-cat {
  color: var(--orange-bg-cl);
}
body.theme-dark .js-list-title {
  color: var(--white-bg-cl);
}
body.theme-dark .js-see-more {
  background-color: var(--dark-bg-cl);
  color: var(--white-bg-cl);
}
body.theme-dark .title-all-cat {
  color: var(--orange-bg-cl);
}
body.theme-dark .js-list-title {
  color: var(--white-bg-cl);
}
body.theme-dark .js-see-more {
  background-color: var(--dark-bg-cl);
  color: var(--white-bg-cl);
}
body.theme-dark .modal-field {
  background-color: var(--dark-bg-cl);
  border: 2px solid var(--white-bg-cl);
}
body.theme-dark .modal-icon {
  stroke: var(--white-bg-cl);
}
body.theme-dark .modal-title {
  color: var(--white-bg-cl);
}
body.theme-dark .modal-description {
  color: var(--white-bg-cl);
}
body.theme-dark .modal-amazon {
  filter: brightness(0) invert(1);
}
body.theme-dark .modal-amazon:hover {
  filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}
body.theme-dark .modal-apple {
  filter: grayscale(100%);
}
body.theme-dark .modal-apple:hover {
  filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}
body.theme-dark .modal-btn {
  background-color: var(--black-bg-cl);
  color: var(--white-bg-cl);
}
body.theme-dark .modal-add {
  color: var(--white-bg-cl);
}